# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
Example/Pods

*.swp

Example/CBPWordPressExample/BSConstants.h

Example/CBPWordPressExample/Images.xcassets/up4-25.imageset/763-arrow-up@2x.png

Example/CBPWordPressExample/Images.xcassets/up4-25.imageset/763-arrow-up.png

Example/CBPWordPressExample/Images.xcassets/down4-25.imageset/764-arrow-down@2x.png

Example/CBPWordPressExample/Images.xcassets/down4-25.imageset/764-arrow-down.png

Example/CBPWordPressExample/Images.xcassets/842-chat-bubbles.imageset/842-chat-bubbles@2x.png

Example/CBPWordPressExample/Images.xcassets/842-chat-bubbles.imageset/842-chat-bubbles.png
